In [1]:
print("hi my name is dakshit chandel")

hi my name is dakshit chandel

In [2]:
name = "dakshit"
Name="chandel"

print(name)
print(Name)

dakshit
chandel

### Indentation

In [3]:
age =23
if age <40:
    print(age)

print("hi")

23
hi

In [5]:
## multiple statement
x =5 ;y=10;z=x+y
print(z)

15

In [6]:
#semantics 
#variable assignment 
age = 32 
name = "Dakshit Chandel"

print(age)
print(name)

32
Dakshit Chandel

In [ ]:
type(age)

int

In [8]:
type(name)

str

In [11]:
#type inference
variable =10
print(type(variable))
variable ="dakshit"
print(type(variable))

<class 'int'>
<class 'str'>