List and List Comprehension

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names=['dakshit',"wow",12,13]
print(names)

['dakshit', 'wow', 12, 13]

In [3]:
mixed_lst=[1,"hello",3.14,True]
print(mixed_lst)

[1, 'hello', 3.14, True]

In [ ]:
##accessing list elements
fruits=["Apple","banana","cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-1])    #means get the last element

Apple
banana
cherry
cherry

In [11]:
print(fruits[0:])
print(fruits[0:2]) #excluding 2 will print the rest of the items
print(fruits[1:])
print(fruits[-1:-3])

['Apple', 'banana', 'cherry']
['Apple', 'banana']
['banana', 'cherry']
[]

In [ ]:
#modifying the list elements 
fruits[1]="watermelon"     #changed bananan from watermelon
print(fruits)

['Apple', 'watermelon', 'cherry']

In [16]:
#List Methods
fruits.append("orange")  #add an item at the end
print(fruits)

['Apple', 'watermelon', 'cherry', 'orange', 'orange', 'orange']

In [17]:
fruits.insert(1,"dakshit")

In [18]:
print(fruits)

['Apple', 'dakshit', 'watermelon', 'cherry', 'orange', 'orange', 'orange']

In [21]:
fruits.remove("orange")

In [22]:
print(fruits)

['Apple', 'dakshit', 'watermelon', 'cherry', 'orange']

In [ ]:
#remove and return the last item 
poped_item = fruits.pop()
print(poped_item)

orange

In [25]:
print(fruits)

['Apple', 'dakshit', 'watermelon', 'cherry']

In [26]:
index = fruits.index("watermelon")
print(index)

2

In [27]:
fruits.insert(2,"dakshit")
print(fruits.count("dakshit"))

2

In [28]:
print(fruits)

['Apple', 'dakshit', 'dakshit', 'watermelon', 'cherry']

In [29]:
#sorting the list in ascending order
fruits.sort()
print(fruits)

['Apple', 'cherry', 'dakshit', 'dakshit', 'watermelon']

In [30]:
fruits.reverse()
print(fruits)

['watermelon', 'dakshit', 'dakshit', 'cherry', 'Apple']

In [31]:
fruits.clear()

In [32]:
print(fruits)

[]

In [33]:
#Slicing the List 
nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[2:5])
print(nums[:5])
print(nums[5:])
print(nums[::2])
print(nums[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
#iterating over list 
for i in nums:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
#iterating with index 
for index,i in enumerate(nums):
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

###List Comprehension

In [ ]:
#list comprhesion is a way to create a new list from an existing iterable
nums=[1,2,3,4,5,6,7]
sq=[]

for num in nums :
    sq.append(num*num)

print(sq)

[1, 4, 9, 16, 25, 36, 49]

In [1]:
#the above code can be done using list comprehension 
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#list comprhension with conditions
squares = [n**2 for n in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
list_1=[]
for i in range(10):
    if(i%2)==0:
        list_1.append(i)
print(list_1)

[0, 2, 4]

In [5]:
even_nums=[num for num in range(10) if num %2==0]
print(even_nums)

[0, 2, 4, 6, 8]

In [1]:
#nested list comprehenshion 
lst1=[1,2,3,4]
lst2 = ['a','b','c','d']

pair= [(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [5]:
#list comprhension with function calls
words = ["hello","world","python","list","comprehension"]
lengths= [len(word) for word in  words]
print(lengths)

[5, 5, 6, 4, 13]