In [ ]:
#create a set 
my_set ={1,2,3,4}
print(type(my_set))

<class 'set'>

In [2]:
my_empty_set=set([])
print(my_empty_set)

set()

In [4]:
my_set_1=set([1,2,3,4,5,6,6,6,])
print(my_set_1)

{1, 2, 3, 4, 5, 6}

In [7]:
##Basic Set operation
#add and remove elements 

new_set=set([45,67,78])
new_set.add(6)
print(new_set)

{67, 45, 78, 6}

In [12]:
#remove
new_set_1 = set([1,2,8,7])
new_set_1.remove(8)
print(new_set_1)

{1, 2, 7}

In [15]:
# using remove when the element is not present in the set will throw error
new_set_1.remove(11)
print(new_set_1)

KeyError: 11

In [17]:
#so instead we can use discard () it won't throw error if the element is not present in the set 
new_set_1.discard(11)
print(new_set_1)

{1, 7}

In [19]:
#pop
removed_element = new_set.pop()
print(removed_element)
print(new_set)

67
{45, 78, 6}

In [21]:
#clear 
my_set.clear()
print(my_set)

set()

In [23]:
#set membership test 
set_test= set([12,13,14,15])
print(3 in set_test)
print(13 in set_test)

False
True

In [27]:
#mathematical operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#union
union_set= set1.union(set2)
print(union_set)

#intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

#intersection update - updates the intersected elemnts in the first set 
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [30]:
#difference
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [32]:
##Symmetric Difference 
print(set1.symmetric_difference(set2))    #uniques elemnts from both the elements are combined or intersection elements are removed

{1, 2, 3, 7, 8, 9}

In [35]:
#Sets Methods
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {2,3}

#is subset

print(set1.issubset (set2))
print(set3.issubset(set1))

False
True

In [36]:
lst= [1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [40]:
###Counting Unique words in text
text ="In this tutorial we are discussing about sets also we are good students "
words = text.split()
print(words)
print(len(words))

##Convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets', 'also', 'we', 'are', 'good', 'students']
13
{'discussing', 'tutorial', 'sets', 'are', 'about', 'In', 'also', 'we', 'students', 'good', 'this'}
11