In [3]:
#creating a empty tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [7]:
#a tuple and list can be convertd to each other and vica versa 
numbers_tup = tuple([1,2,3,4,5])
print(numbers_tup)

(1, 2, 3, 4, 5)

In [8]:
numbers_lst= list((1,2,3,4,5))
print(numbers_lst)

[1, 2, 3, 4, 5]

In [9]:
#Accessing tuple elements 
#every indexing and slicing is same as list

In [10]:
#Tuple Operations

#concatenation
tup1= (1,2,3,4)
tup2 = ("hello",3.14,True)
concatenated_tuple = tup1+tup2
print(concatenated_tuple)

(1, 2, 3, 4, 'hello', 3.14, True)

In [14]:
print(tup2 *3 )  #multiplying the tuple with a number will multiply it by the number given not inside but in the form of occurence
print(tup1 *5 )

('hello', 3.14, True, 'hello', 3.14, True, 'hello', 3.14, True)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#immutability of tuple